.item-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.contador {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contador button {
  background-color: #ff4c29;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 8px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.contador button:hover {
  background-color: #ff693d;
}

.contador span {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  min-width: 30px;
  text-align: center;
}

.agregar-btn {
  background-color: #ff4c29;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.agregar-btn:hover {
  background-color: #ff693d;
}
